@import url("https://raw.githubusercontent.com/dh111/edt/master/special.css");

.icon-room {
    width: 75px !important;
}

#room-name, #room-host {
    left: 89px !important;
}

.msg .from .icon-chat-dj {
    margin-left: 3px !important;
    margin-top: -1px !important;
}

.msg .from .icon-chat-bouncer {
    margin-left: 3px !important;
}

.msg .from .icon-chat-manager {
    margin-left: 3px !important;
}
