.icon-room {
    width: 75px !important;
}

#room-name, #room-host {
    left: 89px !important;
}

.msg .from .icon-chat-dj {
    margin-left: 3px !important;
    margin-top: -1px !important;
}

.msg .from .icon-chat-bouncer {
    margin-left: 3px !important;
}

.msg .from .icon-chat-manager {
    margin-left: 3px !important;
}

/* Burkes */
[data-cid^="3703511-"] .msg .from .icon-chat-subscriber, #user-lists .list.room .id-3703511 .icon-chat-subscriber {
    background: url("https://i.imgur.com/k6rM0V4.png") !important;
}

/* Burkes */
[data-cid^="3703511-"] .msg .from .icon-chat-dj, #user-lists .list.room .id-3703511 .icon-chat-dj {
    background: url("https://i.imgur.com/WoyYLjL.png") !important;
    margin-top: -1px !important;
}

/* Burkes */
[data-cid^="3703511-"] .msg .from .icon-chat-bouncer, #user-lists .list.room .id-3703511 .icon-chat-bouncer {
    background: url("https://i.imgur.com/CItXdTe.png") !important;
    transform: rotate(90deg) !important;
    margin-left: 1px !important;
}

/* Burkes */
[data-cid^="3703511-"] .msg .from .icon-chat-manager, #user-lists .list.room .id-3703511 .icon-chat-manager {
    background: url("https://i.imgur.com/erKmGJc.png") !important;
    transform: rotate(90deg) !important;
    margin-left: 1px !important;
}

/* Burkes */
[data-cid^="3703511-"] .msg .from .icon-chat-host, #user-lists .list.room .id-3703511 .icon-chat-host,
[data-cid^="3703511-"] .msg .from .icon-chat-cohost, #user-lists .list.room .id-3703511 .icon-chat-cohost {
    background: url("https://i.imgur.com/aCXCy8T.png") !important;
    transform: rotate(90deg) !important;
    margin-left: 1px !important;
}

#user-rollover.id-3703511 .username {
    color: #84B423;
}

/* 4SharedPRO */
[data-cid^="3424833-"] .badge-box .bdg {
    background-image: url("https://cdn.rawgit.com/Burkes/edt/master/images/rosie.gif") !important;
    background-repeat: round !important;
}

/* Xuxa */
[data-cid^="3427443-"] .msg .from .icon-chat-ambassaddor, #user-lists .list.room .id-3427443 .icon-chat-ambassador {
    background: url("https://cdn.rawgit.com/Burkes/edt/master/images/ambassador.png") !important;
    margin-left: 1px !important;
}
