@import url("https://rawgit.com/dh111/edt/master/special.css");
@import url("https://rawgit.com/dh111/edt/master/users.css");
@import url("https://rawgit.com/dh111/edt/master/alter.css");

#room-bar .icon-room {
    background: url(https://cdn.rawgit.com/Burkes/edt/master/images/edt-emoji.png);
    width: 75px;
}
#room-name, #room-host {
    left: 89px !important;
    color: #fff !important;
    font-weight: bold;
    text-shadow: 2px 0px 11px, #dd00ff;
}


.msg .from .icon-chat-dj {
    margin-left: 3px !important;
    margin-top: -1px !important;
}

.msg .from .icon-chat-bouncer {
    margin-left: 3px !important;
}

.msg .from .icon-chat-manager {
    margin-left: 3px !important;
}

.dark-label {
    color: #fff !important;
    font-weight: null;
    text-shadow: 2px 0px 11px, #dd00ff;
    background: url();
    
}
#dj-button {
    background: rgba(34, 34, 36, 0.59);
    border-radius: 8px;
}
#dj-button .left  {
    background: #f76814 !important;
}
#dj-button.is-leave .left{
    background: #ff0808 !important;
}
#dj-button.is-quit .left {
    background: #d41010 !important;
}
#vote .top {
    background: rgba(34, 34, 36, 0.4) !important;
}

#room .app-right {
    background: linear-gradient(to right,rgba(0, 0, 0, 0.70) 0,rgba(0, 0, 0, 1) 100%);
}
.app-header {
    background: rgba(28, 31, 37, 0.59);
}
#playback-container {
    background-image: url();
    background-position: center;
    background-size: 100% auto;
}
#chat .message:nth-child(2n+1) #chat .mention:nth-child(2n+1) #chat .skip:nth-child(2n+1) #chat .moderation:nth-child(2n+1) #chat .emote:nth-child(2n+1) #chat .update:nth-child(2n+1) #chat .welcome:nth-child(2n+1) {
    background-color: rgba(17 19 23 0.32);
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
    animation: fadein 0.25s;
    background-color: #111317;
    border-radius: 0px;
    background-color: rgba(17 19 23 0.5);
}
#chat #chat-input {
    background: rgba(80 80 80 0.25);
}
.icon-chat-host > span {
    color: #FF3558 !important;
}
#playlist-panel {
    opacity: .85;
}
#footer {
    background-color: rgba(30 30 36 1) !important;
}
#playback-controls .button.snooze {
    background: #00afe4 !important;
    opacity: .7;
}
#playlist-button {
        background: linear-gradient(to bottom,#76fff2 0,#5a67ff 100%); !important;
}
#playlist-menu .menu .row.selected {
    background: #39688D !important;
}
.media-list .row.now-playing {
    background: #357cff !important;
    border-bottom: 1px solid #2e7cdc !important;
}
#playlist-menu .menu .row .count {
    color: #35ffe5 !important;
}
#grab .bottom #grab.selected {
    background: #00afe4 !important;
}
#footer-user .bar .progress {
    background: #55dd00 !important;
}
.experience .xp .bar .progress {
    background: #55dd00 !important;
}
.activate-button span {
    color: #FFFFFF !important;
}
#playlist-activate-button {
    background: none !important;
}
#playlist-activate-button span {
    color: #2edfff !important;
}
.media-list .row.now-playing .actions {
    background: #4687fd !important;
}
.media-list .row.selected {
    background: #39688D !important;
}
.media-list .selected .actions {
    background: #4687fd !important;
}
#user-lists .header .button.staff.selected {
    border-bottom: 1px solid #FF3558 !important;
}
.dialog.destructive .button.submit {
}
#room-info .button.disabled {
    background: #FF3558 !important;
}
#room-info .button.enabled {
    background: #00afe4 !important;
}
#playlist-create:hover {
    background: #0191ff !important;
}
#playlist-import:hover {
    background: #0191ff !important;
}
#playlist-edit-button:hover {
    background: #0191ff !important;
}
#playlist-shuffle-button:hover {
    background: #0191ff !important;
}
#playlist-delete-button:hover {
    background: #c42e3b !important;
}
.tab-menu button.selected {
    background: #2e7cdc !important;
}
#dj-button .left {
    background: #00afe4 !important;
}
#dj-button.is-leave .left {
    background: #ff0808 !important;
}
#dj-button.is-quit .left {
    background: #ff0808 !important;
}
.delete-button:hover {
    background: #rFF3558 !important;
}
.icon-plug-dj {
    display: none;
}
#chat .icon .icon-p3 {
    background-image: url('') !important;
}
.icon-chat-ambassador + span {
    color: #89be6c !important;
}
.icon-chat-host + span {
    color:#ffc125 !important;
}
.icon-chat-cohost + span {
    color: #ffc125 !important;
}
.icon-chat-manager + span {
    color: #00eeef !important;
}
.icon-chat-bouncer + span {
    color: #00bfff !important;
}
.icon-chat-dj + span {
    color: #7fc1ea !important;
}
#chat .emote #chat .mention #chat .message #chat .moderation #chat .skip #chat .system #chat .update #chat .welcome {
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
}
#chat .moderation, #chat .moderation .from .un{
    color: #01e1ff;
} 
#chat .message:hover #chat .emote:hover #chat .update:hover {
    -moz-transition: 100ms linear 50ms;
    -o-transition: 100ms linear 50ms;
    -webkit-transition: 100ms linear 50ms;
    border-left: #FFFFFF 1px solid;
    padding-left: 1px;
    text-decoration: none;
    transition: 100ms linear 50ms;
}
#chat .moderation:hover {
    -moz-transition: 100ms linear 50ms;
    -o-transition: 100ms linear 50ms;
    -webkit-transition: 100ms linear 50ms;
    border-left: #FF7676 1px solid;
    padding-left: 1px;
    text-decoration: none;
    transition: 100ms linear 50ms;
}
#chat .message:nth-child(2n+1)#chat .mention:nth-child(2n+1)#chat .skip:nth-child(2n+1)#chat .moderation:nth-child(2n+1)#chat .emote:nth-child(2n+1)#chat .update:nth-child(2n+1)#chat .welcome:nth-child(2n+1) {
    background-color: rgba(17 19 23 1.0);
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.drag-media-box {
    background-color: #FF3558
}
body {
    background-size: 100% auto !important background-attachment: fixed 0px 0px !important
}
